*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #353b48;
    overflow-y: hidden;
}
.container {
    display: flex;
    height: 80%;
    width: 80%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}
.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}
.containerImage{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(73,80,87, 0.5);
    height: 50%;
    width: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.43);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.43);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.43);
}
.imageContainer img{
    width: 40%;
}
.containerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}
.headerForm{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 20%;
}
.headerForm h1{
    color: white;
    font-weight: 600;
}
.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 50%;
}
.inputContainer {
    display: flex;
    border-radius: 20px;
    width: 100%;
    height: 35%;
    margin-bottom: 30px;
    background: rgba(73,80,87, 0.5);
}
.containerInput{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 95%;
}
.imageInput{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 95%;
    cursor: pointer;
}
.imageInput img{
    width: 50%;
}
.containerInput input{
    height: 60%;
    width: 90%;
    font-size: 15px;
    background: none;
    border: none;
    outline: none;
    color: #636e72;
}
.buttonSubmit {
    padding: 10px;
    width: 50%;
    background: #5f27cd;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}
.buttonSubmit:hover{
    background: #341f97;
}