.navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 10%;
    background: #3c096c;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
}
.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 95%;
}
.imageContainer img{
    width: 50%;
}
.optionsMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60%;
    width: 95%; 
}
.options {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #47126b;
    height: 15%;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}
.options img {
    opacity: 0.7;
    width: 50%;
}
.options:hover {
    background: #571089;
}
#optionsSelected {
    background: #571089;
}
.containerUser {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 95%;
    cursor: pointer;
}
.containerUser img {
    width: 50%;
    opacity: 0.6;
}