.form-section h1 {
  color: white;
}

.form-section p {
  margin-top: 20px;

  font-size: 15px;

  color: #858585;
}

.form-section b {
  color: #5f27cd;

  cursor: pointer;

  transition: color 0.2s;
}

.form-section b:hover {
  color: #47126b;
}

.login-image {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 95%;
  width: 100vw;

  max-width: 500px;

  border-radius: 20px;
}

.login-image img {
  width: 350px;
}
