* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background: #323232;
  overflow-y: hidden;
}

main {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  max-width: 1024px;
  max-height: 600px;

  background: #131313;

  border-radius: 12px;
}

.register-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;

  height: 100%;
  width: 100vw;

  max-width: 380px;
}

.register-section span {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;

  color: #585858;
}

.register-section h1 {
  color: white;
}

.register-section p {
  font-size: 15px;

  color: #858585;
}

.register-section b {
  color: #5f27cd;

  cursor: pointer;

  transition: color 0.2s;
}

.register-section b:hover {
  color: #47126b;
}

.register-section-inputs {
  display: flex;
  gap: 20px;
  flex-direction: column;

  height: 250px;
  width: 300px;

  margin-top: 30px;
}

.register-section-inputs input {
  padding: 18px;

  font-weight: 600;

  color: white;
  background: #2f2f2f;

  border-radius: 18px;
  border: none;

  outline: none;
}

.register-section-inputs button {
  width: 200px;

  padding: 15px;

  background: #5f27cd;
  color: white;

  border-radius: 18px;

  outline: none;
  border: none;

  cursor: pointer;
  transition: background 0.3s;
}

.register-section-inputs button:hover {
  background: #341f97;
}

.register-image {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 95%;
  width: 100vw;

  max-width: 600px;

  border-radius: 20px;

  /* background: #cd84f1; */

  background-image: linear-gradient(250deg, #cd84f1, #c56cf0);
}

.register-image img {
  width: 350px;
}
