* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
* ::-webkit-scrollbar {
    width: 8px;
    background: #171717;
}
* ::-webkit-scrollbar-thumb {
    background: #5f27cd;
    border-radius: 5px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #353b48;
    overflow-y: hidden;
}
.container {
    display: flex;
    height: 85%;
    width: 85%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}   
.navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 10%;
    background: #3c096c;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
}
.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 95%;
}
.imageContainer img{
    width: 50%;
}
.optionsMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60%;
    width: 95%; 
}
.options {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #47126b;
    height: 15%;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}
.options img {
    opacity: 0.7;
    width: 50%;
}
.options:hover {
    background: #571089;
}
#optionsSelected {
    background: #571089;
}
.containerUser {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 95%;
    cursor: pointer;
}
.containerUser img {
    width: 50%;
    opacity: 0.6;
}
.main {
    display: flex;
    height: 100%;
    width: 90%;
    border-radius: 0px 20px 20px 0px;
}
.containerPhotoUser {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 20%;;
    border-right: 1px solid #636e72;
}
.photoUser {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 35%;
}
.photoUser img {
    opacity: 0.4;
    width: 70%;
}
.photoUser p{
    color: white;
    font-size: 12px;
    font-weight: 500;
    opacity: 0.4;
}
.profileMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.headerProfile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8%;
    border-radius: 0px 20px 0px 0px;
    background: #3c096c;
}
.itemHeader {
    display: flex;
    align-items: center;
    width: 25%;
    height: 90%;
}
.headerItemImage {
    width: 20%;
    height: 70%;
}
.justifyItems {
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerItemImage img {
    width: 65%;
}
.headerInformation {
    width: 80%;
    height: 70%;
    color: white;
    font-size: 11px;
    font-weight: 400; 
}
.informationUserContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45%;
    width: 97%;
    border-bottom: 1px solid #636e72;
}
#titleInformation {
    color: white;
    font-weight: 500;
}
.itemInformationUser {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 95%;
}
.labels-Informations {
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    height: 30%;
}
.labels-Informations h4 {
    font-weight: 600;
    color: #7b2cbf;
}
.labels-InformationsInput {
    font-weight: 400;
    font-size: 15px;
    border: none;
    background: none;
    width: 100%;
    outline: none;
    color: white;
}
.imageProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.imageProfile img {
    width: 50%;
}
.settingsProfile {
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 97%;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-top: 6px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    height: 28px;
    width: 70px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 24px;
    left: 4px;
    bottom: 4px;
    background: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background: #7b2cbf;
}
input:focus + .slider {
    box-shadow: 0 0 1px #7b2cbf;
}
input:checked + .slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round::before {
    border-radius: 50%;
}