* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #353b48;
    overflow-y: hidden;
}
.container {
    display: flex;
    height: 85%;
    width: 80%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}
.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
}
.containerImage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 90%;
}
.imageContainer img{
    width: 90%;
}
.containerForm {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
}
.inputsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 85%;
    width: 85%;
    border-radius: 10px;
    background: rgba(73,80,87, 0.5);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.43);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.43);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.43);
}
.headerForm{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 10%;
}
.headerForm h3{
    color: white;
    font-weight: 600;
}
.formContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 95%;
    height: 80%;
}
.rowInput {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 55px;
}
.inputContainer {
    display: flex;
    border-radius: 20px;
    width: 45%;
    height: 100%;
    background: rgba(73,80,87, 0.5);
}
.containerInput{
    display: flex;
    width: 80%;
}
.imageInput{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 95%;
    cursor: pointer;
}
.imageInput img{
    width: 50%;
}
.containerInput input{
    font-size: 15px;
    background: none;
    border: none;
    outline: none;
    color: #636e72;
    width: 100%;
}
.containerButtons {
    display: flex;
    justify-content: space-evenly;
    height: 12%;
    width: 95%;
}
.buttonSubmit {
    padding: 10px;
    width: 35%;
    background: #5f27cd;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}
.buttonSubmit:hover{
    background: #341f97;
}
.fullWidth {
    width: 95%;
}
.widthImage img {
    width: 70%;
}