.form-section span {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;

  color: #585858;
}

.form-section h1 {
  color: white;
}

.form-section p {
  font-size: 15px;

  color: #858585;
}

.form-section b {
  color: #5f27cd;

  cursor: pointer;

  transition: color 0.2s;
}

.form-section b:hover {
  color: #47126b;
}

.register-image {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 95%;
  width: 100vw;

  max-width: 500px;

  border-radius: 20px;

  /* background: #cd84f1; */
}

.register-image img {
  width: 350px;
}
